header {
    background-color: orange;
}


/* BIENVENUE */

h1 {
    font-size: 48;
    font-family: Poppins;
    color : #02A7F0;
}

.sectionBackgroundBienvenue {
    background-image: url("assets/images/slide/slide-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    

    align-items: center;
    
}

.pLoremBienvenue {
    width: 500px;
}